<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h3>条件渲染</h3>
        <p v-if="condition">你能看见我吗？</p>
        <h3>循环遍历</h3>
        <p v-for="arr in arrs">
            {{`我叫${arr.name}`}},{{arr.age}}
        </p>
    </div>

</body>
<script src="./js/vue.js"></script>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            condition: false,
            arrs: [
                { name: "小明", age: 16 },
                { name: "小红", age: 17 },
                { name: "小白", age: 18 },
            ]
        }
    });
</script>

</html>